.titlehead{
display:flex;
border:solid;
background-color:rgb(255, 166, 0);
color:white;
position: relative;
border-radius: 0px 0px 60px 0px;
padding:100px;
width:1000px;

}
#grad1{
    background-image:linear-gradient(to top right, rgb(255, 166, 0), black);
}
    H1{
    position:relative;
    left:200px;
    display:flex;
    border:solid;
    background-color:#c94935;
    width:400px;
}
body{
    background-image:linear-gradient(to bottom, rgb(84, 84, 84), rgb(109, 117, 151));
}
.sidebar{
    color:white;
    border-style:hidden;
    border-style:solid;
    background-color:rgb(255, 166, 0);
    float:left;
    justify-content:center;
    padding:10px;
    width:800;
    height:600px;
    border-radius:0px 0px 20px 0px;
    border-color:white;

}
.but{
    background:#c94935;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius:60px;
    padding:6px;
    position:flex;
    text-align: center;
    width:90px;
    margin-top:50px;
}
.exp{
    position:fixed;
    bottom:0px;
    display:flex;
}
.int{
    border-style:block;
    text-align: center;
    padding-top:50px;

}
.words{
    border-style:flex;
    text-align: center;
    padding-top:50px;
    font-size: x-large;
    width: 90%;
    color:#c94935;
    text-decoration:double underline rgb(117, 117, 139);
    font-weight:bold;
    justify-content: center;
}


.exbtn{
    background:#c94935;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius:60px;
    padding:6px;
    position:flex;
    text-align: center;
    width:140px;
    margin-top:50px;
} 
.exbtl{
    display: flex;
    margin-right:12%;
    justify-content: center;
}
