.titlehead{
display:flex;
border:solid;
background-color:yellowgreen;
color:white;
position: relative;
left: 400px;
}
body{
    background-image:url("");
}
.sidebar{
    color:white;
    border-style:hidden;
    border-style:flex;
    border-width:40px;
    background-color:black;
    width:120px;
    float:left;
    height:800px;
    justify-content:center;
    padding:10px
}
.but{
    background-color: black;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius:60px;
    padding:6px
}