.titlehead{
display:flex;
border:solid;
background-color:yellowgreen;
color:white;
position: relative;

padding:100px;
width:700px;
}
H1{
    position:relative;
    left:400px;
    display:flex;
    border:solid;
    background-color:#c94935;
}
body{
    background-image:url("");
}
.sidebar{
    color:white;
    border-style:hidden;
    border-style:flex;
    background-color:yellowgreen;
    float:left;
    justify-content:center;
    padding:10px;
    border-width:200px;
    width:800;
    height:800px;
    border-radius:10px;
    position:fixed;
}
.but{
    background:#c94935;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius:60px;
    padding:6px;
    position:flex;
    text-align: center;
    width:90px;
    margin-top:50px;
}
.exp{
    position:fixed;
    bottom:0px;
    display:flex
}